body {
    padding: 0;
    margin: 0;
    background-color: cadetblue;
}
ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(197, 39, 39);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Nunito';
  }

  h1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
      
  }

  h2 {
    font-family: 'Nunito', sans-serif;
  }

  p {
    font-family: 'STIX Two Math', serif;
    text-align: left;
    text-align: start;
    margin-left: 15%;
    font-size: 20px;
    font-weight: 500;
  }
  
  li a:hover {
    background-color: #111;
  }

 h3 {
     background-color: rgb(10, 70, 10) ;
     text-align: center;
     font-family: 'Work Sans', sans-serif;
     color: white;
    }